// Specific CSS for your home-page

h1 {
  justify-content: center;
  color: $blue;
  font-family: $headers-font;
}

h2 {
  color: white;
}

.container-title {
  display: inline;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 50px;
}

.banner h1 {
  margin-left: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  margin-left: 20px;
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn {
  justify-content: center;
  margin-left: 0px;
}
