<br>
<br>
<br>
<br>
<div class= "container">
  <h4>Booking Requests</h4>

    <% @my_booking_requests.each do |booking| %>
      <div class="container-bookinng">
        <div class="card-booking">
          <img src=""/>
          <div class="card-booking-moped-infos">
            <div>
              <h2><%= booking.moped.name %></h2>
              <p><%= booking.moped.description %></p>
            </div>
            <div>
              <h2><%= booking.start_date%> - <%= booking.end_date %></h2>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
