<div class="container-banner" >
  <div class="banner">
    <%= image_tag "logo-yellow.jpg", height: 300%>
    <p>Rent a moped. Beat the traffic. Ride like a local. </p>
  </div>
</div>
<h2 style="margin-left: 15px;">Mopeds</h2>
