<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://productiontickets.blob.core.windows.net/presentationfiles/b390661e-cc44-4f4e-b79b-dd4baf33fdcd/original.jpg?sv=2018-03-28&sr=b&sig=quWm0quspDfob2eEthP8KGsBDHqUV7fkpwkx6oZS%2Fv4%3D&se=2023-05-15T23%3A11%3A35Z&sp=r&rsct=&rscd=inline%3Bfilename%3Db390661e-cc44-4f4e-b79b-dd4baf33fdcd.jpg)">
    <h1><strong>Motorino</strong>, let's ride!</h1>
    <p>Challenge the traffic. Discover an exciting way to explore the world.</p>
    <a class="btn btn-flat" href="#">Choose a date</a>
  </div>
</div>

<h1>Listed Moped</h1>
</div>

<div class="row">
  <div class="col-4 p-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1475698066764-3dc9200f1c93?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8aG91c2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
    </div>
  </div>
  <div class="col-4 p-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1571055107559-3e67626fa8be?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8aG91c2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
    </div>
  </div>
  <div class="col-4 p-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1519227355453-8f982e425321?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80)">
    </div>
  </div>
   <div class="col-4 p-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1522589964067-6e77b94e0d17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTR8fGhvdXNlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
    </div>
  </div>
   <div class="col-4 p-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1464520460796-5d98a3e5b296?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fGhvdXNlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
  </div>
   <div class="col-4 p-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1505843795480-5cfb3c03f6ff?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjd8fGhvdXNlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
    </div>
  </div>
</div>

<%# <div class="container-footer">
  <%= render 'shared/footer' %>
<%# </div>  %>
