.banner {
  background-image: asset-url("vespe");
  background-size: cover;
  height: 800px;
}

// .banner-info {
//   display: flex;
//   flex-direction: column;
// }

.logo-image {
  border-radius: 5px;
}

// .container-banner p {
//   color: $blue;
// }
