.navbar-lewagon {
  justify-content: space-between;
  background: rgb(225, 236, 243);
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item-dropdown {
  margin: 8px, 8px, 8px;
}

.btn-flat {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  // padding and margin seam not working
  padding: 0px, 8px;
  margin: 0, 8px, 8px;
  border-radius: 20px;
  background: $blue;
  transition: background 0.3s ease;
}

.dropdown-item {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $blue;
}

.btn-flat:hover {
  background: $white;
  color: $blue;
}
